<div class="subnav subnav-fixed">
  <ul class="nav nav-pills">
    <li><a href="#philosophy">Philosophy</a></li>
    <li><a href="#features">Features</a></li>
    <li><a href="#benchmarks">Benchmarks</a></li>
  </ul>
</div>

<header class="jumbotron subhead" style="margin-top: 40px">
  <h1>Qless <small>In 50 words or less</small></h1>
  <p class="lead">Qless is a <a href="http://redis.io/">Redis</a>-backed, robust, language-agnostic job queueing system.
    It is a collection of <a href="http://github.com/seomoz/qless-core">Lua scripts</a> that run on a Redis server,
    as well as this web app). <a href="http://github.com/seomoz/qless">Qless</a> is open-sourced under the MIT license
    and currently has bindings for <a href="http://github.com/seomoz/qless">Ruby</a>, <a href="http://github.com/seomoz/qless-py">Python</a>
    with C++ and Node.js support coming soon.</p>
</header>

<section id="philosophy">
  <div class="page-header">
    <h1>Philosophy <small>and nomenclature</h1>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead">A job is a unit of work. A queue can contain several jobs that are scheduled to be run at a certain time, several jobs that are waiting to run, and jobs that are currently running. A worker is a process on a host, identified uniquely, that asks for jobs from the queue, performs some process associated with that job, and then marks it as complete. When it's completed, it can be put into another queue.</p>
      <p class="lead">Jobs can only be in one queue at a time. That queue is whatever queue they were last put in. So if a worker is working on a job, and you move it, the worker's request to complete the job will be ignored.</p>
      <p class="lead">A job can be canceled, which means it disappears into the ether, and we'll never pay it any mind ever again. A job can be dropped, which is when a worker fails to heartbeat or complete the job in a timely fashion, or a job can be failed, which is when a host recognizes some systematically problematic state about the job. A worker should only fail a job if the error is likely not a transient one; otherwise, that worker should just drop it and let the system reclaim it.</p>
    </div>
  </div>
</section>

<section id="features">
  <div class="page-header">
    <h1>Features <small>In no particular order</small></h1>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">
          <h3 style="text-align:right">Jobs don't get dropped on the floor</h3>
        </div>
        <div class="span6">
          <h3><small>even in the face of the flakiest workers</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h3 style="text-align:right">Jobs are stored temporarily</h3>
        </div>
        <div class="span6">
          <h3><small>but automatically expire after a configurable amount of time</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h3 style="text-align:right">Tagging and Tracking</h3>
        </div>
        <div class="span6">
          <h3><small>for keeping tabs on important jobs</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h3 style="text-align:right">High Performance</h3>
        </div>
        <div class="span6">
          <h3><small>thanks to Redis and Lua</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h3 style="text-align:right">Scheduled Work</h3>
        </div>
        <div class="span6">
          <h3><small>for delayed or periodic processing</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h3 style="text-align:right">Retry Logic</h3>
        </div>
        <div class="span6">
          <h3><small>for jobs that have been dropped on the floor</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h3 style="text-align:right">Web App</h3>
        </div>
        <div class="span6">
          <h3><small>for checking up on progress and monitoring</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h3 style="text-align:right">Priority</h3>
        </div>
        <div class="span6">
          <h3><small>for jobs means you can put selected jobs before others</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <h3 style="text-align:right">Stats</h3>
        </div>
        <div class="span6">
          <h3><small>about how long jobs wait, how long they take to process</small></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="benchmarks">
  <div class="page-header">
    <h1>Benchmarks <small>In Amazon's EC2</small></h1>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead">These benchmarks were performed on a <span class="badge badge-info">m1.medium</span>, which has 3.75GB of RAM and 2 ECUs. Actually, I'm going to wait until development's a little more complete before posting these.</p>
    </div>
  </div>
</section>
