<div class="page-header">
  <h1>Configuration Settings <small>Including defaults</small></h1>
</div>

<% options.each do |key, value| %>
<div class="row">
  <div class="span4">
    <h2><%= key %></h2>
  </div>
  <div class="span8">
    <h2>=> <%= value %></h2>
  </div>
</div>
<% end %>
