<div id="alerts"></div>

<div class="page-header">
	<h1>Type '<%= type %>' Failed Jobs <small>These jobs are all failed :-/</small></h1>
</div>

<% failed['jobs'].each do |job| %>
<%= erb :_job, :layout => false, :locals => { :job => job, :queues => queues } %>
<% end %>