<!-- CodeMirror -->
<!-- <script src="/js/codemirror.js"></script>
<script src="/js/mode/javascript.js"></script>
<link rel="stylesheet" href="/css/codemirror.css"> -->

<% if job.nil? %>
	<div class="row">
		<div class="span12">
			<h1><%= jid %> doesn't exist, was canceled, or expired</h1>
		</div>
	</div>
<% else %>
	<%= erb :_job, :layout => false, :locals => { :job => job, :queues => queues } %>
<% end %>
